.contenedor .cartas > button{
    width: 100px;
    height: 150px;
}

.contenedor .cartas > button > img{
    width: 100px;
    height: 150px;
}

.tabla{
    width: 100%;
}

table,th,td{
    border: 1px solid black;
}

.derecha .regcartas > form{
    width: 50%;
    border: 1px solid black;
    padding: 20px;
}

.derecha .regcartas > form > .campotext{
    width: 100%;
}

@media screen and (max-width: 1300px){
    .contenedor{
            grid-template-columns: 100%;
    }
}



.contenedor{
    display: grid;
        grid-template-columns: 60% 40%;
}

@media (max-width: 770px) {
  .contenedor{
    display: inline;
  }
}
.contenedor .cartas{
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
    grid-gap: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
}


.header{
    border-radius: 15px;
    background-color:rgb(3,17,43);
    height: 100px;
    border: 1px solid #d0d0d0;
}

.fondo{
    background-color:rgb(3,17,43);
}

.img{
    height: 20%;
}